.orderItem {
  margin-bottom: 20px;
  width: 100%;
  background-color: #f2f2f2;
}

.orderItem__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
}

.orderItem:nth-last-of-type(1) {
  margin: 0;
}

.orderItem__picContainer {
  width: 120px;
  height: 120px;
}

.orderItem__pic {
  width: 100%;
  height: 100%;
}

.orderItem__content {
  padding: 5px 10px;
  flex: 1;
}

.orderItem__product {
  font-size: 22px;
  font-weight: bold;
}

.orderItem__shop {
  font-size: 18px;
}

.orderItem__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.orderItem__btn {
  padding: 0;
  width: 70px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  background-color: hotpink;
  outline-style: none;
}

.orderItem__btn.active {
  background-color: #ccc;
}

.orderItem__btn.active.disabled {
  pointer-events: none;
}

.orderItem__commentContainer {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.orderItem__comment {
  width: 100%;
  height: 60px;
}

.orderItem__star {
  margin-bottom: 10px;
}

.orderItem__star--light {
  color: red;
}
